/*******************************
	GENERAL
********************************/ 

body {
	font-family: "times new roman";
	padding: 10px;
	background-color: white;
}

a {
	text-decoration: none;
	color: inherit;
}

h1 {
	text-align: center;
	font-weight: normal;
	margin-top: 10px;
}

h2 {
	text-align: center;
	font-weight: normal;
}

p {
	text-align: justify;
	padding: 0px 10px 0px 10px;
}

.limpiar {
	clear: both;
}


/*******************************
	CABECERA
********************************/ 

#cabecera {
	
	
	position: relative;
	
}

#java {
	margin-left: 1em;
	/*margin-right: .5em;*/
	color: CORNFLOWERBLUE;
	font: Krona One;	
}

#documentacion{
	color: CORNFLOWERBLUE;
	font-size: 0.5em;
	position: left;
}

#cabecera_arriba{
	
	
	margin-bottom: .5em;
}

#cabecera_abajo {
	
    height: 100px;
    background: white; /* For browsers that do not support gradients */
    background: linear-gradient(white, ALICEBLUE); /* Standard syntax (must be last) */
	border-top: solid 1.5px LAVENDER;
	border-bottom: solid 1.5px LAVENDER;
}

#titulo_cabecera{
	position: absolute;
	left: 10%;
	top: 60%;
	transform: translate(-50%, -50%);
	font: 13px/20px Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 20px;
}

#cabecera_izq {
	color: red;
	font: Shrikhand;
	float: left;
	font-size: 1.5em;
}
#cabecera_drcha {
	
	float: rigth;
	font-size: 1.5em;
	
}
/*******************************
	CUERPO
********************************/

#cuerpo{
	
	text-align: left;
	height: 80%px;	
	width:100%;
	
}
#cuerpo_izquierda{
	width:85%;
	float:left;
}

#cuerpo_derecha{
	float: right;
	width:15%;

}

#tabla{
	border-style: solid;
	border-width: 1px; 
	background-color: WHITESMOKE;
	padding: 10px;
	
}

#content{
	font-weight: bold;
	border-style: double;
	padding:1px;
	font-size: 1.5em;
	text-align: center;
	color:Black;
	padding:10px;
	background: linear-gradient(white, ALICEBLUE);
	
}
#resource{
	border-style: double;
	padding:1px;
	font-size:0.7em;
	
	color:Black;
	padding:10px;
	
	
}
#book{
	border-style: double;
	font-size:0.7em;
	padding:1px;
	
	color:Black;
	padding:10px;
	
	
}
#boton_rojo{
	
	background-color:red;
	font-size:15px;
	color: white;
	text-align:center;
	margin-left:30px;
	margin-right:30px;
}
h2{
	text-align: left;
	font-weight: bold;
    font-size: 20px;
	
}
h3{
	font-weight: bold;
    font-size: 20px;
	text-align: center;
}

a{
	text-decoration: underline;
	
}
#pie{
	
	
	position: relative;
	width:83%;
	
	bottom:0;
	
  
}